* {
    margin:0;
    padding: 0;
    border: 0;
}

header {

    top: 0px; 
    width: 100%;
    height: 75px;
    background-color: black;
}

footer {
    position: absolute; 
    bottom: 0px; 
    width: 100%;
    height: 60px;
    background-color: black;
    color:white;
    align-items: right;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #303030;
}

p {
    font-size: 18px;
    color: white;
    margin-top: 1.5%;
    text-align: center;
}

h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 2.5%;
    font-weight: 700;
}

.titulo1 {
    
    font-family: 'Bebas Neue', sans-serif;
    color: #fcfc95;
    font-size: 42px;
    margin-bottom: 3%;
    margin-top: 3%;
}

.titulo2 {

    font-size: 28px;

}

.footer-icons {

    margin: 1.5px;
    padding: 1.5px;
    padding-top: 10px;
}

#grif {
    color: #fcfc95;

}

