* {
    margin:0;
    padding: 0;
    border: 0;
}

header {

    top: 0px; 
    width: 100%;
    height: 75px;
    background-color: black;
    overflow: hidden;

}

footer {
    position: absolute; 
    bottom: 0px; 
    width: 100%;
    height: 60px;
    background-color: black;
    color:white;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center ;

}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #303030;
}

p {
    font-size: 16px;
    color: white;
    margin-top: 1.5%;
    text-align: center;
    line-height: 25px;

}

h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 2.5%;
    font-weight: 550;
}

ul {

    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 15px;

}

li {
    list-style: none
}


.titulo1 {
    
    font-family: 'Bebas Neue', sans-serif;
    color: #fcfc95;
    font-size: 42px;
    margin-bottom: 3%;
    margin-top: 3%;
}

.titulo2 {

    font-size: 28px;

}

.footer-icons {

    padding-left: 5px;
    display: flex;
    justify-content: flex-end ;
}

#grif {
    color: #fcfc95;

}

#frase {

    display: flex;
    align-items: center;
    margin: auto;
}







